@font-face {
    font-family: 'Ivy';
    font-weight: 300;
    font-display: swap;
    font-style: italic;
    src: url(/fonts/IvyPrestoDisplayLightItalic.woff2) format("woff2");
} 

@font-face {
    font-family: 'Gothic';
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: url(/fonts/TradeGothicNextBold.woff2) format("woff2");
}

@font-face {
    font-family: 'Gothic';
    font-weight: 300;
    font-display: swap;
    font-style: normal;
    src: url(/fonts/TradeGothicNextLight.woff2) format("woff2");
}

@font-face {
    font-family: 'Gothic';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url(/fonts/TradeGothicNextRegular.woff2) format("woff2");
}